{{ template "_header.html" . }}
{{ template "_navigation.html" "albums" }}

<h2>{{ .Title }}</h2>

<form method='post'>
  <input required type='text' name='name' placeholder='Name' value='{{ .Album.Name }}'>
  <input required type='text' name='artist' placeholder='Artist' value='{{ .Album.Artist }}'>
  <input required type='text' name='tag' placeholder='Tag' value='{{ .Album.Tag }}'>

  {{ if not .Album.ID }}
    <div>
      <input type='checkbox' {{if .Log}}checked{{ end }} name='log' style='display: inline-block; width: auto;'> Immediately log album
    </div>
  {{ end }}

  <button>{{ if .Album.ID }}Update{{ else }}Create{{ end }}</button>
</form>

{{ template "_footer.html" . }}
